html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.banner {
    position: absolute:
    bottom: 0;
    width: 100%;
    height: 130px;
    line-height: 130px;
    background-color: #343a40;
    text-align: center;
}

ul.posts {
    list-style-type: none;
    padding-left: 0px;
    line-height: 3.0;
}

ul.posts span {
    color: #aaa;
    font-size: 80%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    text-align: center;
}

.footer a {
    color: #000;
}

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
